### 1.Import Dependencies

In [29]:

import numpy as np 
import pandas as pd

In [30]:
df=pd.read_csv("data\processed\ChurnModelling_Binning_Applied.csv",)
df

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins
0,France,Female,3.761200,2,0.00,1,1,1,101348.88,1,Fair
1,Spain,Female,3.737670,1,83807.86,1,0,1,112542.58,0,Fair
2,France,Female,3.761200,8,159660.80,3,1,0,113931.57,1,Poor
3,France,Female,3.686680,1,0.00,2,0,0,93826.63,0,Good
4,Spain,Female,3.784190,2,125510.82,1,1,1,79084.10,0,Excellent
...,...,...,...,...,...,...,...,...,...,...,...
9988,France,Male,3.688879,5,0.00,2,1,0,96270.64,0,Very Good
9989,France,Male,3.583519,10,57369.61,1,1,1,101699.77,0,Poor
9990,France,Female,3.610918,7,0.00,1,0,1,42085.58,1,Good
9991,Germany,Male,3.761200,3,75075.31,2,1,0,92888.52,1,Very Good
9992,France,Female,3.367296,4,130142.79,1,1,0,38190.78,0,Very Good

### 2.Encode Nomial Vairable

In [31]:
gender_dummies=pd.get_dummies(df['Gender'],prefix='Gender')
credit_score_dummies=pd.get_dummies(df['Geography'],prefix='Geography')
df_encoded=pd.concat([df,credit_score_dummies,gender_dummies],axis=1)
df_encoded.drop(columns=['Geography','Gender'],inplace=True)
df_encoded

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,3.761200,2,0.00,1,1,1,101348.88,1,Fair,True,False,False,True,False
1,3.737670,1,83807.86,1,0,1,112542.58,0,Fair,False,False,True,True,False
2,3.761200,8,159660.80,3,1,0,113931.57,1,Poor,True,False,False,True,False
3,3.686680,1,0.00,2,0,0,93826.63,0,Good,True,False,False,True,False
4,3.784190,2,125510.82,1,1,1,79084.10,0,Excellent,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9988,3.688879,5,0.00,2,1,0,96270.64,0,Very Good,True,False,False,False,True
9989,3.583519,10,57369.61,1,1,1,101699.77,0,Poor,True,False,False,False,True
9990,3.610918,7,0.00,1,0,1,42085.58,1,Good,True,False,False,True,False
9991,3.761200,3,75075.31,2,1,0,92888.52,1,Very Good,False,True,False,False,True
9992,3.367296,4,130142.79,1,1,0,38190.78,0,Very Good,True,False,False,True,False

### 2.Encode Ordinal Variable

In [32]:
encode_dict_creditscore = {
    'Poor': 0,
    'Fair': 1,
    'Good': 2,
    'Very Good': 3,
    'Excellent': 4
}
df_encoded['CreditScoreBins'] = df_encoded['CreditScoreBins'].map(encode_dict_creditscore)
df_encoded

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,3.761200,2,0.00,1,1,1,101348.88,1,1,True,False,False,True,False
1,3.737670,1,83807.86,1,0,1,112542.58,0,1,False,False,True,True,False
2,3.761200,8,159660.80,3,1,0,113931.57,1,0,True,False,False,True,False
3,3.686680,1,0.00,2,0,0,93826.63,0,2,True,False,False,True,False
4,3.784190,2,125510.82,1,1,1,79084.10,0,4,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9988,3.688879,5,0.00,2,1,0,96270.64,0,3,True,False,False,False,True
9989,3.583519,10,57369.61,1,1,1,101699.77,0,0,True,False,False,False,True
9990,3.610918,7,0.00,1,0,1,42085.58,1,2,True,False,False,True,False
9991,3.761200,3,75075.31,2,1,0,92888.52,1,3,False,True,False,False,True
9992,3.367296,4,130142.79,1,1,0,38190.78,0,3,True,False,False,True,False

In [33]:
df_encoded['CreditScoreBins'].value_counts()

CreditScoreBins
1    3327
2    2427
0    2361
3    1223
4     655
Name: count, dtype: int64

In [34]:
df.to_csv("data\\processed\\ChurnModelling_Feature_Encoding_Applied.csv",index=False)