### 1.Import Dependencies

In [53]:

import numpy as np 
import pandas as pd

In [54]:
df=pd.read_csv("data\processed\ChurnModelling_Binning_Applied.csv",)
df

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins
0,France,Female,42.00,2,0.00,1,1,1,101348.88,1,Fair
1,Spain,Female,41.00,1,83807.86,1,0,1,112542.58,0,Fair
2,France,Female,42.00,8,159660.80,3,1,0,113931.57,1,Poor
3,France,Female,38.91,1,0.00,2,0,0,93826.63,0,Good
4,Spain,Female,43.00,2,125510.82,1,1,1,79084.10,0,Excellent
...,...,...,...,...,...,...,...,...,...,...,...
9995,France,Male,39.00,5,0.00,2,1,0,96270.64,0,Very Good
9996,France,Male,35.00,10,57369.61,1,1,1,101699.77,0,Poor
9997,France,Female,36.00,7,0.00,1,0,1,42085.58,1,Good
9998,Germany,Male,42.00,3,75075.31,2,1,0,92888.52,1,Very Good
9999,France,Female,28.00,4,130142.79,1,1,0,38190.78,0,Very Good

### 2.Encode Nomial Vairable

In [55]:
gender_dummies=pd.get_dummies(df['Gender'],prefix='Gender')
credit_score_dummies=pd.get_dummies(df['Geography'],prefix='Geography')
df_encoded=pd.concat([df,credit_score_dummies,gender_dummies],axis=1)
df_encoded.drop(columns=['Geography','Gender'],inplace=True)
df_encoded

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,42.00,2,0.00,1,1,1,101348.88,1,Fair,True,False,False,True,False
1,41.00,1,83807.86,1,0,1,112542.58,0,Fair,False,False,True,True,False
2,42.00,8,159660.80,3,1,0,113931.57,1,Poor,True,False,False,True,False
3,38.91,1,0.00,2,0,0,93826.63,0,Good,True,False,False,True,False
4,43.00,2,125510.82,1,1,1,79084.10,0,Excellent,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,39.00,5,0.00,2,1,0,96270.64,0,Very Good,True,False,False,False,True
9996,35.00,10,57369.61,1,1,1,101699.77,0,Poor,True,False,False,False,True
9997,36.00,7,0.00,1,0,1,42085.58,1,Good,True,False,False,True,False
9998,42.00,3,75075.31,2,1,0,92888.52,1,Very Good,False,True,False,False,True
9999,28.00,4,130142.79,1,1,0,38190.78,0,Very Good,True,False,False,True,False

### 2.Encode Ordinal Variable

In [56]:
encode_dict_creditscore = {
    'Poor': 0,
    'Fair': 1,
    'Good': 2,
    'Very Good': 3,
    'Excellent': 4
}
df_encoded['CreditScoreBins'] = df_encoded['CreditScoreBins'].map(encode_dict_creditscore)
df_encoded

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,42.00,2,0.00,1,1,1,101348.88,1,1,True,False,False,True,False
1,41.00,1,83807.86,1,0,1,112542.58,0,1,False,False,True,True,False
2,42.00,8,159660.80,3,1,0,113931.57,1,0,True,False,False,True,False
3,38.91,1,0.00,2,0,0,93826.63,0,2,True,False,False,True,False
4,43.00,2,125510.82,1,1,1,79084.10,0,4,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,39.00,5,0.00,2,1,0,96270.64,0,3,True,False,False,False,True
9996,35.00,10,57369.61,1,1,1,101699.77,0,0,True,False,False,False,True
9997,36.00,7,0.00,1,0,1,42085.58,1,2,True,False,False,True,False
9998,42.00,3,75075.31,2,1,0,92888.52,1,3,False,True,False,False,True
9999,28.00,4,130142.79,1,1,0,38190.78,0,3,True,False,False,True,False

In [57]:
df_encoded['CreditScoreBins'].value_counts()

CreditScoreBins
1    3331
2    2428
0    2362
3    1224
4     655
Name: count, dtype: int64

In [58]:
df_encoded.to_csv("data\\processed\\ChurnModelling_Feature_Encoding_Applied.csv",index=False)